<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pre_close_px</key>
		<string>12</string>
		<key>last_px</key>
		<string>13</string>
		<key>curr_time</key>
		<string>9:00</string>
	</dict>
	<dict>
		<key>pre_close_px</key>
		<string>12</string>
		<key>last_px</key>
		<string>10</string>
		<key>curr_time</key>
		<string>9:33</string>
	</dict>
	<dict>
		<key>pre_close_px</key>
		<string>12</string>
		<key>last_px</key>
		<string>17</string>
		<key>curr_time</key>
		<string>10:30</string>
	</dict>
	<dict>
		<key>pre_close_px</key>
		<string>12</string>
		<key>last_px</key>
		<string>11</string>
		<key>curr_time</key>
		<string>11:30</string>
	</dict>
	<dict>
		<key>pre_close_px</key>
		<string>12</string>
		<key>last_px</key>
		<string>10</string>
		<key>curr_time</key>
		<string>13:30</string>
	</dict>
	<dict>
		<key>pre_close_px</key>
		<string>12</string>
		<key>last_px</key>
		<string>17</string>
		<key>curr_time</key>
		<string>14:30</string>
	</dict>
	<dict>
		<key>pre_close_px</key>
		<string>12</string>
		<key>last_px</key>
		<string>16</string>
		<key>curr_time</key>
		<string>14:31</string>
	</dict>
	<dict>
		<key>pre_close_px</key>
		<string>12</string>
		<key>last_px</key>
		<string>16</string>
		<key>curr_time</key>
		<string>14:33</string>
	</dict>
	<dict>
		<key>pre_close_px</key>
		<string>12</string>
		<key>last_px</key>
		<string>13</string>
		<key>curr_time</key>
		<string>14:36</string>
	</dict>
	<dict>
		<key>pre_close_px</key>
		<string>12</string>
		<key>last_px</key>
		<string>20</string>
		<key>curr_time</key>
		<string>14:39</string>
	</dict>
	<dict>
		<key>pre_close_px</key>
		<string>12</string>
		<key>last_px</key>
		<string>11</string>
		<key>curr_time</key>
		<string>14:50</string>
	</dict>
	<dict>
		<key>pre_close_px</key>
		<string>12</string>
		<key>last_px</key>
		<string>16</string>
		<key>curr_time</key>
		<string>14:51</string>
	</dict>
	<dict>
		<key>pre_close_px</key>
		<string>12</string>
		<key>last_px</key>
		<string>12</string>
		<key>curr_time</key>
		<string>14:52</string>
	</dict>
</array>
</plist>
